body {
    background-image: url('https://media.discordapp.net/attachments/429983945786916884/1149045826153369620/MZkpgUWYkkdJLmRzX1tiqfYqXLF9u483XfXjA13kQquO11uYCkoZZsyjqummSupMGYaSXraXtlLgPEAXdejrguc5vd7buEfvBBQ4F9BPsCA2BaNADQoY0GtQ1do0CnRGAQN6ZwtiwzEK1KCAAb0GVa1No0BnFDCgd7YgNhyjQA0KGNBrUNXaNAp0RgEDemcLYsMxCtSggAG9BlWtTaNAZxT4f1zku2LvkoJaAAAAAElFTkSuQmCC.png');
    background-repeat: repeat;
    color: #f7b88f;
  }

  header {
    text-align: center;
    padding: 15px;
  }
  nav {
    background-color: #00804A;
    text-align: center;
  }
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  nav ul li a {
    color: #f7b88f;
    text-decoration: none;
  }
  nav ul li a:hover {
    color: #8b9f72;
  }
  main {
    text-align: center;
    padding: 15px;
  }
  button {
    background-color: #8b9f72;
    color: #f7b88f;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  button:hover {
    background-color: #d22d32;
  }
  footer {
    text-align: center;
    padding: 15px;
  }