/* Global Styles */
body, html {
  background-image: url('https://cdn.discordapp.com/attachments/429983945786916884/1149352604355264672/Unova_B2W2_alt.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #f7b88f;
}

header, footer {
  text-align: center;
  padding: 1em;
}

header {
  background-color: #00804A;
  color: #f7b88f;
}

footer {
  background-color: #8b9f72;
  color: #f7b88f;
}

main {
  padding: 2em;
}

h2, h3 {
  color: #d22d32;
}

.page-content {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* Blog Styles */
.dual-blog {
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

.blog-post {
  flex: 1;
  margin: 0 1em;
  border: 5px solid black;
  position: relative;
}

.blog-post.niko, .blog-post.vi {
  background-color: white;
  padding: 1em;
}

.blog-post.niko {
  color: #f7b88f;
}

.blog-post.vi {
  color: #8b9f72;
}

/* Pokedex View Styles */
.pokedex-view {
  background-color: white;
  border: 0px;
  overflow: visible;
}

.route {
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
}

.route-title {
  font-size: calc(10px + 2vmin);
  background-image: url('https://media.discordapp.net/attachments/429983945786916884/1149390563246886963/DS_DSi_-_Pokemon_Platinum_-_Text_Box_Styles_1.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;  /* Set the height */
  display: flex;
  align-items: center;  /* Center the text vertically */
  justify-content: center;  /* Center the text horizontally */
}


.pokemon-list {
  display: inline-flex;
  justify-content: center;
  gap: 10px;
  background-repeat: no-repeat;
  background-position: center;
}

.pokemon {
  width: 50px;
  height: 50px;
  background-image: url('https://cdn.discordapp.com/attachments/429983945786916884/1149131232546934824/pngkey.com-pokeball-png-356244.png');
  background-size: 75px 75px;
  padding: 50px;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.pokemon img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;  /* Adjust width as needed */
  height: 50px; /* Adjust height as needed */
}

/* Button Styles */
button#toggleView {
  background-color: #8b9f72;
  color: #f7b88f;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

button#toggleView:hover {
  background-color: #d22d32;
}
